In [2]:
pip install python-Levenshtein

Defaulting to user installation because normal site-packages is not writeable
Collecting python-Levenshtein
  Using cached python_Levenshtein-0.22.0-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.22.0
  Using cached Levenshtein-0.22.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (172 kB)
Collecting rapidfuzz<4.0.0,>=2.3.0
  Using cached rapidfuzz-3.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.22.0 python-Levenshtein-0.22.0 rapidfuzz-3.3.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
import os

In [2]:

path = os.getcwd()
print(os.listdir())
pathfile = path + "/data.xlsx"
df = pd.read_excel(pathfile, sheet_name="Sheet3")
display(df)

['requirements.txt', 'main.ipynb', 'data.xlsx', '.git', 'pacient_treatment_analysis', 'env']

,FECHA,NO. DÍA,DÍA,NO. MES,MES,AÑO,SEMANA,NOMBRE,INGRESOS,TX,EDAD,SEXO,TIPO_PX,MEDIO
0,2022-01-04,2,MARTES,1,ENERO,2022,2,José Consuelo Calderón,50,"Se realizó valoración y presupuesto, entrego r...",NaN,NaN,SUBSECUENTE,NaN
1,2022-01-04,2,MARTES,1,ENERO,2022,2,David Romero (niño),50,"Se realizó HC, valoración, odontograma.",NaN,NaN,PRIMERA VEZ,RECOMENDACIÓN
2,2022-01-04,2,MARTES,1,ENERO,2022,2,Ricarda Zavaleta Loaeza.,300,"Se realizó valoración, HC, curación od 47, se ...",NaN,NaN,PRIMERA VEZ,DOCTORALIA
3,2022-01-04,2,MARTES,1,ENERO,2022,2,Virginia Sotelo Terán,700,Se realizó exo de restos radiculares 35 y36.,NaN,NaN,SUBSECUENTE,NaN
4,2022-01-04,2,MARTES,1,ENERO,2022,2,Luis Enrique Villalobos Flores.,500,Se realizó resina od 25. Plan de pagos fijos,NaN,NaN,SUBSECUENTE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2023-09-29,5,VIERNES,9,SEPTIEMBRE,2023,39,ANTONIA BANDA ALLENDE,700,RESINA OD 26,56.0,F,Subsecuente,NaN
1489,2023-09-29,5,VIERNES,9,SEPTIEMBRE,2023,39,GLORIA SANTIBAÑEZ CASTELLANOS,59,CONSULTA 1ERA VEZ,51.0,F,Primera Vez,Recomendación
1490,2023-09-29,5,VIERNES,9,SEPTIEMBRE,2023,39,DANNA PAOLA BARRETO CARDENAS,400,LIMPIEZA DENTAL,20.0,F,Primera Vez,Recomendación
1491,2023-09-29,5,VIERNES,9,SEPTIEMBRE,2023,39,ARACELI PADILLA ADAME,700,EXODONCIA OD 26,42.0,F,Subsecuente,NaN
1492,2023-09-30,6,SÁBADO,9,SEPTIEMBRE,2023,39,CLAUDIA VIDAL SANCHEZ,400,LIMPIEZA DENTAL,45.0,F,Subsecuente,NaN

In [3]:
df = df[['NOMBRE', 'INGRESOS', 'TX', 'TIPO_PX', 'MEDIO']]
display(df)

,NOMBRE,INGRESOS,TX,TIPO_PX,MEDIO
0,José Consuelo Calderón,50,"Se realizó valoración y presupuesto, entrego r...",SUBSECUENTE,NaN
1,David Romero (niño),50,"Se realizó HC, valoración, odontograma.",PRIMERA VEZ,RECOMENDACIÓN
2,Ricarda Zavaleta Loaeza.,300,"Se realizó valoración, HC, curación od 47, se ...",PRIMERA VEZ,DOCTORALIA
3,Virginia Sotelo Terán,700,Se realizó exo de restos radiculares 35 y36.,SUBSECUENTE,NaN
4,Luis Enrique Villalobos Flores.,500,Se realizó resina od 25. Plan de pagos fijos,SUBSECUENTE,NaN
...,...,...,...,...,...
1488,ANTONIA BANDA ALLENDE,700,RESINA OD 26,Subsecuente,NaN
1489,GLORIA SANTIBAÑEZ CASTELLANOS,59,CONSULTA 1ERA VEZ,Primera Vez,Recomendación
1490,DANNA PAOLA BARRETO CARDENAS,400,LIMPIEZA DENTAL,Primera Vez,Recomendación
1491,ARACELI PADILLA ADAME,700,EXODONCIA OD 26,Subsecuente,NaN
1492,CLAUDIA VIDAL SANCHEZ,400,LIMPIEZA DENTAL,Subsecuente,NaN

In [5]:
key_words = [
    {
        'Traditional': ['consulta', 'consulta primera vez', 'limpieza', 'resina', 'limpieza dental', 'profilaxis'],
        'Priority': [],
        'Premier': []
    }
]

In [46]:
word = "Consulta"
if word.lower() in key_words[0]['Traditional']:
    result = "Yes"
else:
    result = "No"

print(result)

Yes

In [6]:
# Extract the list of words from 'Traditional' key
traditional_words = key_words[0]['Traditional']

# Create a regular expression pattern to match any of the words
pattern = '|'.join(traditional_words)

# Use str.contains() to check for matches
df['Match'] = df['TX'].str.contains(pattern, case=False)

# Replace True with 'traditional'
df['Match'] = np.where(df['Match'], 'traditional', df['Match'])

display(df)

                               NOMBRE INGRESOS  \
0              José Consuelo Calderón       50
1                 David Romero (niño)       50
2            Ricarda Zavaleta Loaeza.      300
3               Virginia Sotelo Terán      700
4     Luis Enrique Villalobos Flores.      500
...                               ...      ...
1488            ANTONIA BANDA ALLENDE      700
1489    GLORIA SANTIBAÑEZ CASTELLANOS       59
1490     DANNA PAOLA BARRETO CARDENAS      400
1491            ARACELI PADILLA ADAME      700
1492            CLAUDIA VIDAL SANCHEZ      400

                                                     TX      TIPO_PX  \
0     Se realizó valoración y presupuesto, entrego r...  SUBSECUENTE
1               Se realizó HC, valoración, odontograma.  PRIMERA VEZ
2     Se realizó valoración, HC, curación od 47, se ...  PRIMERA VEZ
3          Se realizó exo de restos radiculares 35 y36.  SUBSECUENTE
4          Se realizó resina od 25. Plan de pagos fijos  SUBSECUENTE
...                                                 ...          ...
1488                                       RESINA OD 26  Subsecuente
1489                                  CONSULTA 1ERA VEZ  Primera Vez
1490                                    LIMPIEZA DENTAL  Primera Vez
1491                                    EXODONCIA OD 26  Subsecuente
1492                                    LIMPIEZA DENTAL  Subsecuente

              MEDIO  Match
0               NaN   True
1     RECOMENDACIÓN  False
2        DOCTORALIA  False
3               NaN  False
4               NaN   True
...             ...    ...
1488            NaN   True
1489  Recomendación   True
1490  Recomendación   True
1491            NaN  False
1492            NaN   True

[1493 rows x 6 columns]

In [4]:
word = "consulta"
sentence = "Fui a una consulta"
print(word in sentence)

True

In [7]:
display(df)

,NOMBRE,INGRESOS,TX,TIPO_PX,MEDIO,Match
0,José Consuelo Calderón,50,"Se realizó valoración y presupuesto, entrego r...",SUBSECUENTE,NaN,True
1,David Romero (niño),50,"Se realizó HC, valoración, odontograma.",PRIMERA VEZ,RECOMENDACIÓN,False
2,Ricarda Zavaleta Loaeza.,300,"Se realizó valoración, HC, curación od 47, se ...",PRIMERA VEZ,DOCTORALIA,False
3,Virginia Sotelo Terán,700,Se realizó exo de restos radiculares 35 y36.,SUBSECUENTE,NaN,False
4,Luis Enrique Villalobos Flores.,500,Se realizó resina od 25. Plan de pagos fijos,SUBSECUENTE,NaN,True
...,...,...,...,...,...,...
1488,ANTONIA BANDA ALLENDE,700,RESINA OD 26,Subsecuente,NaN,True
1489,GLORIA SANTIBAÑEZ CASTELLANOS,59,CONSULTA 1ERA VEZ,Primera Vez,Recomendación,True
1490,DANNA PAOLA BARRETO CARDENAS,400,LIMPIEZA DENTAL,Primera Vez,Recomendación,True
1491,ARACELI PADILLA ADAME,700,EXODONCIA OD 26,Subsecuente,NaN,False
1492,CLAUDIA VIDAL SANCHEZ,400,LIMPIEZA DENTAL,Subsecuente,NaN,True